.vs
.vscode
*.log
Carla/CarlaUE4
Carla/Co-Simulation
Carla/Engine
Carla/HDMaps
Carla/Plugins
Carla/PythonAPI/carla
Carla/PythonAPI/examples
Carla/PythonAPI/util
Carla/PythonAPI/AMP/__pycache__
Carla/CarlaUE4.exe
Carla/CHANGELOG
Carla/Dockerfile
Carla/LICENSE
Carla/README
Carla/PythonAPI/AMP/*.log
